.body {
  text-align: center;
  position: relative;
}

.moveToDownBtn {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in;
  z-index: 10000;
}

.moveToDownBtn:hover {
  color: #c09d52;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 50vh;
  width: 100%;
}

.card h2 {
  font-size: 5vh;
}

.card p {
  font-size: 3vh;
}

.btnBox {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.loginContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.loginContainer .title {
  font-size: 24px;
  color: var(--color-white);
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .body {
    padding: 0 24px;
  }
  .loginContainer .title {
    font-size: 12px;
  }
  .moveToDownBtn {
    width: 40px;
    height: 40px;
  }
}
