.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.title {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.cardSection {
  margin: 0;
  padding: 12px;
  padding-top: 160px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  align-content: center;
  gap: 20px;
  min-height: 100vh;
  background: var(--color-bg);
}

.cardImg {
  width: 220px;
  height: 300px;
  border-radius: 3px;
  transition: 0.5s;
}

.card {
  width: 220px;
  position: relative;
  height: 300px;
  background-color: var(--color-white);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  overflow: hidden;
}

.cardIntro {
  height: 70px;
  width: 220px;
  padding: 6px;
  position: absolute;
  bottom: 0px;
  background: rgb(27, 27, 27, 0.5);
  color: var(--color-white);
  transition: 0.5s;
}

.cardTitle {
  margin: 10px;
  font-size: 24px;
}

.cardDesc {
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
}

.card:hover .cardIntro {
  height: 120px;
  background: var(--color-black);
}

.card:hover .cardDesc {
  opacity: 1;
  visibility: visible;
}

.card:hover .cardImg {
  transform: scale(1.1) rotate(-3deg);
}

@media (min-width: 768px) {
  .cardSection {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 200px;
  }
  .title {
    top: 120px;
  }
}

@media (min-width: 1350px) {
  .cardSection {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding-top: 12px;
  }
  .title {
    top: 140px;
  }
}
