.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.sectionOne {
  padding-top: 200px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.sectionOneImg {
  width: 500px;
  height: 500px;
}

.sectionOneText {
  text-align: center;
}

.sectionOneText p {
  padding-bottom: 30px;
}

.sectionOneText h2 {
  margin: 8px 0;
}

.sectionTwo {
  margin: 0 auto;
  padding: 20px 24px;
  width: 100%;
  background-color: #ececec;
  text-align: center;
}

.sectionTwoText {
  text-align: center;
  margin-bottom: 20px;
}

.sectionTwoTitle,
.sectionTwoDesc {
  color: #434343;
}

.sectionTwoDesc {
  font-size: 18px;
}

.btnBox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (max-width: 550px) {
  .sectionOne {
    padding: 0 24px 24px 24px;
  }

  .sectionOneText h1 {
    margin-top: 200px;
  }
  .sectionOneImg {
    width: 300px;
    height: 300px;
  }
  .sectionTwoDesc {
    font-size: 12px;
  }
}
