.card {
  position: relative;
  width: 250px;
  height: 400px;
  border: 1px solid black;
  flex-basis: 300px;
  cursor: pointer;
}

.perfumeImg {
  width: 100%;
}

.brandName {
  font-size: 0.6em;
}

.perfumeName {
  font-size: 0.9em;
}

.deleteBtn {
  font-size: 0.8em;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.textBox {
  padding: 0 8px;
  font-size: 24px;
}

.trophy {
  font-size: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.rankingNumber {
  display: block;
  position: absolute;
  top: 12px;
  right: 28px;
  color: white;
}

.rankingCount {
  margin-top: 8px;
  font-weight: 600;
  font-size: 0.6em;
}

@media (max-width: 1460px) {
  .card {
    width: 150px;
    height: 325px;
    flex-basis: 200px;
  }
  #wishCard {
    width: 250px;
    height: 350px;
    flex-basis: 200px;
  }
  .perfumeName {
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rankingCount {
    font-size: 16px;
  }
  .deleteBtn {
    font-size: 14px;
    width: 100px;
    bottom: 0;
  }
}

@media (max-width: 930px) {
  #wishCard {
    width: 100%;
    display: flex;
  }
  #wishCard .perfumeImg {
    width: 200px;
  }
  #wishCard .textBox {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #wishCard .textBox .deleteBtn {
    position: static;
    padding: 6px 8px;
    font-size: 0.6em;
    background-color: inherit;
    cursor: pointer;
  }
}

@media (max-width: 740px) {
  #wishCard .textBox {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wishCard .textBox .deleteBtn {
    position: absolute;
  }
}

@media (max-width: 560px) {
  .rankingCount {
    font-size: 0.5em;
  }
  #wishCard {
    flex-basis: 150px;
  }
  #wishCard .textBox {
    height: 150px;
  }
  #wishCard .perfumeImg {
    width: 150px;
    height: 150px;
  }
  #wishCard .textBox .deleteBtn {
    position: absolute;
    bottom: 10px;
  }

  #wishCard .textBox .perfumeInfo .brandName {
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #wishCard .textBox .perfumeInfo .perfumeName {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
