.body {
  width: 100%;
  height: 100%;
  padding: 56px;
}

.banner {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  height: 30vh;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}

.bannerText {
  padding-top: 100px;
  margin-left: 50px;
}

.bannerText h2 {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 25px;
}

.bannerText h1 {
  margin-left: 5px;
  font-size: 80px;
}

.itemList {
  width: 100%;
  height: 100%;
  background-color: #b7b5b4;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, auto));
  justify-items: center;
  gap: 12px;
  padding: 24px;
}

.itemListRanking {
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  background-color: #b7b5b4;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.rankingCardBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, auto));
  justify-items: center;
  gap: 12px;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
}

.deleteBtn {
  padding: 8px 12px;
  font-size: 1.2em;
  background-color: rgb(191, 190, 190);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.deleteBtn:hover {
  background-color: tomato;
  color: white;
}

.mainBtn {
  padding: 8px 12px;
  font-size: 1.2em;
  background-color: rgb(191, 190, 190);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mainBtn:hover {
  background-color: var(--color-main);
  color: white;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.loginBtn {
  text-align: center;
  border: none;
  background-color: gray;
  padding: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in;
}

.loginBtn:hover {
  color: var(--color-white);
  background-color: darkgreen;
}

@media (max-width: 1030px) {
  .banner {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    height: 30vh;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bannerText h2 {
    font-size: 18px;
  }
  .bannerText h1 {
    margin-bottom: 48px;
  }
  .btnBox {
    position: relative;
  }
  .itemListRanking {
    margin-top: 80px;
  }
}

@media (max-width: 930px) {
  .rankingCardBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .itemList {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1170px) {
  .itemList {
    grid-template-columns: repeat(auto-fit, minmax(30%, auto));
  }
}

@media (max-width: 740px) {
  .deleteBtn {
    font-size: 16px;
  }
  .mainBtn {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .body {
    padding: 120px 12px 12px 12px;
  }

  .banner {
    margin-top: 20px;
  }

  .bannerText {
    padding-top: 0;
    margin-left: 0;
  }

  .bannerText h2 {
    font-size: 12px;
  }

  .bannerText h1 {
    margin-bottom: 48px;
    font-size: 32px;
  }

  .btnBox button {
    font-size: 12px;
  }

  .itemListRanking {
    margin-top: 18px;
  }

  .itemListRanking h3 {
    font-size: 14px;
  }

  .itemList {
    padding: 8px;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}
