.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slider .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 1;
  clip-path: circle(0px at center);
}

#slideTwo {
  filter: blur(0.3rem);
}

#perfumeBottle {
  position: relative;
  top: 50px;
  left: -180px;
  z-index: 10;
}

#slideTwoContent {
  position: relative;
  right: 180px;
  width: 1000px;
}

.slider input[type="radio"]:checked + .imgBx {
  z-index: 10;
  clip-path: circle(1000px at center);
  transition-delay: 0.75s;
}
.slider .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .imgBx video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask {
  user-select: none;
  mix-blend-mode: screen;
}

.slider .imgBx .content {
  position: relative;
  text-align: center;
  max-width: 800px;
}

.slider .imgBx .content h2 {
  font-size: 6em;
  line-height: 1.5em;
  color: #fff;
}

.slider .imgBx .content p {
  font-size: 1.5em;
  line-height: 1.3em;
  color: #fff;
}

.slider .imgBx .content h3 {
  font-size: 2.5em;
  line-height: 1.5em;
  min-width: 600px;
  color: #fff;
}

.slider input[type="radio"] {
  position: relative;
  z-index: 1000;
  margin: 5px;
  margin-bottom: 40px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid var(--color-black);
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.2s ease-in-out;
}

.slider input[type="radio"]:checked {
  border: 0.4em solid var(--color-radioBorder);
}

.slider input[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.slider input[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}

@media (max-width: 768px) {
  .slider .imgBx {
    padding: 40px;
  }
  .slider .imgBx .content h2 {
    font-size: 3em;
  }

  .slider .imgBx .content h3 {
    font-size: 1.5em;
  }

  .slider .imgBx .content p {
    font-size: 1em;
    color: #fff;
    margin-top: 10px;
  }
  #perfumeBottle {
    display: none;
  }
  #slideTwoContent {
    position: relative;
    right: 0;
  }
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 75px;
  margin: 10px 0;
  background-color: inherit;
  border: none;
  font-size: 1.8em;
  font-weight: 600;
  color: var(--color-white);
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  color: var(--color-black);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url(/public/assets/images/btn-bg.png);
  background-size: cover;
  transform-origin: left;
  transition: 0.5s;
}

.button:hover:before {
  width: 100%;
}

.button span {
  position: relative;
  z-index: 1;
}
