.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slider .imgBx {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .imgBx video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mask {
  user-select: none;
  mix-blend-mode: screen;
}

.slider .imgBx .content {
  position: relative;
  text-align: center;
  max-width: 800px;
}

.slider .imgBx .content h2 {
  font-size: 6em;
  line-height: 1.5em;
  color: #fff;
}

.slider .imgBx .content p {
  font-size: 1.5em;
  line-height: 1.3em;
  color: #fff;
}

.slider .imgBx .content h3 {
  font-size: 2em;
  line-height: 1.5em;
  min-width: 700px;
  color: #fff;
}

#lastSlide {
  filter: blur(0.3rem);
}

#perfumeBottle {
  position: relative;
  top: 50px;
  left: -180px;
  z-index: 10;
}

#lastSlideContent {
  position: relative;
  right: 180px;
  width: 1000px;
}

@media (max-width: 768px) {
  .slider .imgBx {
    padding: 40px;
  }
  .slider .imgBx .content h2 {
    font-size: 3em;
  }
  .slider .imgBx .content h3 {
    font-size: 1.5em;
  }
  .slider .imgBx .content p {
    font-size: 1em;
    color: #fff;
    margin-top: 10px;
  }
  #perfumeBottle {
    display: none;
  }
  #lastSlideContent {
    position: relative;
    right: 0;
  }
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 75px;
  margin: 10px 0;
  background-color: inherit;
  border: none;
  font-size: 1.8em;
  font-weight: 600;
  color: var(--color-white);
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  color: var(--color-black);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url(/public/assets/images/btn-bg.png);
  background-size: cover;
  transform-origin: left;
  transition: 0.5s;
}

.button:hover:before {
  width: 100%;
}

.button span {
  position: relative;
  z-index: 1;
}
