.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommenderTitle {
  margin-bottom: 25px;
}

.card {
  position: relative;
  width: 480px;
  height: 480px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
}

.box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: center / cover no-repeat url("/public/assets/images/bg.png");
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.input {
  margin-bottom: 20px;
  padding: 12px 24px;
  border: none;
  text-align: center;
  outline: none;
  background-color: inherit;
  font-size: 1.3em;
  border-bottom: 2px solid silver;
}

.label {
  position: absolute;
  top: 160px;
  left: 50px;
  pointer-events: none;
  color: silver;
  transition: all 0.3s ease;
}

.underline {
  position: absolute;
  bottom: 50%;
  height: 2px;
  width: 85%;
  transform: translateY(-21px);
}

.underline::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input:focus ~ .label,
.input:valid ~ .label {
  transform: translateY(-35px);
  font-size: 0.8em;
  color: white;
}

.input:focus ~ .underline::before,
.input:valid ~ .underline::before {
  transform: scaleX(1);
}

.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 10px 0;
  padding: 12px;
  background-color: inherit;
  border: none;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--color-black);
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  color: var(--color-white);
  background-color: silver;
  border: none;
}

.button:hover span {
  color: var(--color-white);
}

.button span {
  position: relative;
  z-index: 1;
  color: silver;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .card {
    width: 350px;
    height: 350px;
  }
  .button {
    width: 150px;
    font-size: 1em;
    font-weight: 600;
  }
}
