.loadingBody {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.loadingBody video,
.storyBody video {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  height: 100vh;
  object-fit: cover;
}

.loadingBody video.active {
  opacity: 1;
}

.storyBody {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.textBox {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: 600;
  line-height: 3;
  text-align: center;
}
