.body {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 0 35px;
  margin: 150px 50px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: center / cover no-repeat url("/public/assets/images/bg.png");
}

.wrapper {
  max-width: 1200px;
  position: relative;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel .cardImg {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
}

.cardImg:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel .cardImg {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .body {
    border: none;
    background: inherit;
  }
  .carousel .cardImg {
    width: 100%;
  }
}
