.body {
  background-color: var(--color-blue);
  color: var(--color-white1);
  font: 1em/1.5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gift {
  --dur: 1.5s;
  position: relative;
  width: 18em;
  height: 18em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gift:hover {
  transform: scale(1.2);
}

.giftBow,
.giftBowCenter,
.giftBowLeft,
.giftBowRight,
.giftBox,
.giftLidShadow,
.giftLid,
.giftStar {
  position: absolute;
}

.giftBowCenter,
.giftBowLeft,
.giftBowRight {
  background-color: var(--color-red2);
}

.giftBow {
  animation: bowBounce var(--dur) ease-in-out infinite;
  bottom: 11em;
  left: 7.5em;
  width: 3em;
  height: 2em;
  transform-origin: 50% 230%;
}

.giftBowCenter {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}

.giftBowLeft,
.giftBowRight {
  box-shadow: 0 0 0 0.7em var(--color-red1) inset;
  top: 0.3em;
  width: 4em;
  height: 5em;
  z-index: 1;
}

.giftBowLeft::before,
.giftBowRight::before {
  background-color: var(--color-red1);
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

.giftBowLeft {
  animation: bowLeftPivot var(--dur) ease-in-out infinite;
  border-radius: 1.5em 0.3em 1em / 0.15em 0 3em 3.5em;
  right: calc(100% - 0.75em);
  transform: rotate(-);
  transform-origin: 100% 15%;
}

.giftBowLeft::before {
  clip-path: polygon(0 42%, 100% 12%, 100% 100%, 0 100%);
}

.giftBowRight {
  animation: bowRightPivot var(--dur) ease-in-out infinite;
  border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
  left: calc(100% - 0.75em);
  transform: rotate(-35deg);
  transform-origin: 0% 15%;
}

.giftBowRight::before {
  clip-path: polygon(0 12%, 100% 100%, 0 100%);
}

.giftBox,
.giftLid,
.giftLidShadow {
  transform-origin: 50% 100%;
}

.giftBox {
  animation: boxBounce var(--dur) ease-in-out infinite;
  background: linear-gradient(var(--color-red2), var(--color-red2)) 50% 50% /
      3.3em 100% no-repeat,
    var(--color-white2);
  border-radius: 1.5em;
  bottom: 0.5em;
  left: 3.3em;
  overflow: hidden;
  width: 11.4em;
  height: 9em;
}

.giftLid,
.giftLidShadow {
  border-radius: 1em;
  width: 13em;
  height: 3.3em;
}

.giftLid {
  animation: lidBounce var(--dur) ease-in-out infinite;
  background: linear-gradient(var(--color-red1), var(--color-red2)) 50% 50% /
      3.3em 100% no-repeat,
    var(--color-white1);
  bottom: 8.7em;
  left: 2.5em;
}

.giftLidShadow {
  animation: lidshadowBounce var(--dur) ease-in-out infinite;
  background-color: hsla(0, 0%, 0%, 0.1);
  top: -1.5em;
  left: -1em;
}

.giftStar {
  animation: starRotateCW var(--dur) ease-in-out infinite;
  background-color: var(--color-white1);
  clip-path: polygon(
    50% 0,
    65% 35%,
    100% 50%,
    65% 35%,
    50% 100%,
    35% 65%,
    0 50%35% 35%
  );
  transform: scale(0);
}

#giftStar02 #giftStar04 #giftStar05 {
  animation-name: starRotateCCW;
}

#giftStar01 {
  animation-delay: calc(var(--dur) * 0.5);
  top: 0;
  left: 12.5em;
  width: 1.5em;
  height: 1.5em;
}

#giftStar03 {
  animation-delay: calc(var(--dur) * 0.25);
  top: 8em;
  left: 0;
  width: 1.25em;
  height: 1.25em;
}

#giftStar04 {
  top: 10.5em;
  right: 0;
  width: 1.75em;
  height: 1.75em;
}

#giftStar05 {
  animation-delay: calc(var(--dur) * 0.375);
  top: 12em;
  left: 1.8em;
  width: 2.5em;
  height: 2.5em;
}

@keyframes bowBounce {
  from,
  50% {
    transform: translateY(0) rotate(0);
  }
  62.5% {
    animation-timing-function: ease-in;
    transform: translateY(75%) rotate(0);
  }
  68.75% {
    animation-timing-function: ease-out;
    transform: translateY(-37.5%) rotate(15deg);
  }

  75% {
    animation-timing-function: ease-out;
    transform: translateY(-150%) rotate(5deg);
  }

  87.5% {
    transform: translateY(-65%) rotate(-3deg);
  }
  to {
    transform: translateY(0) rotate(0);
  }
}

@keyframes bowLeftPivot {
  from,
  50% {
    transform: rotate(35deg);
  }
  62.5% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(30deg);
  }
  87.5% {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(35deg);
  }
}

@keyframes bowRightPivot {
  from,
  50% {
    transform: rotate(-35deg);
  }
  62.5% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(-34deg);
  }
  87.5% {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-35deg);
  }
}

@keyframes boxBounce {
  from,
  50% {
    transform: translateY(0) scale(1.1);
  }
  62.5% {
    transform: translateY(4%) scale(1.12, 0.89);
  }
  75% {
    transform: translateY(-11%) scale(0.92, 1.1);
  }
  87.5% {
    transform: translateY(0) scale(1.05, 0.9);
  }
  to {
    transform: translateY(0) scale(1.1);
  }
}

@keyframes starRotateCW {
  from {
    transform: scale(0) rotate(0);
  }
  25% {
    animation-timing-function: ease-out;
    transform: scale(0.5) rotate(0.25turn);
  }
  50%,
  to {
    transform: scale(0) rotate(0.5turn);
  }
}

@keyframes starRotateCCW {
  from {
    transform: scale(0) rotate(0);
  }
  25% {
    animation-timing-function: ease-out;
    transform: scale(0.5) rotate(-0.25turn);
  }
  50%,
  to {
    transform: scale(0) rotate(-0.5turn);
  }
}
