.body {
  position: relative;
  text-align: center;
  background: center / cover no-repeat url("/public/assets/images/bg.png");
  padding: 0 100px;
  overflow: hidden;
}

.title {
  transform: translateY(60px);
}

.swiperSlide {
  text-align: center;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.swiperSlidetitle {
  transform: translateY(50px);
  font-size: 1.1em;
}

.swiperSlideImg {
  width: 350px;
  height: 350px;
}
