.body {
  position: relative;
  text-align: center;
  background-color: var(--color-white);
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
}

.swiperSlide {
  position: relative;
  padding-top: 200px;
  width: 100%;
  cursor: pointer;
}

.swiperSlidetitle {
  position: absolute;
  font-size: 1.1em;
}

.swiperSlideImg {
  width: 450px;
  height: 450px;
}
