.testContainer {
  padding-bottom: 12px;
  margin-top: 20px;
  text-align: center;
  width: 30%;
  height: 500px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.testContainer:nth-child(1) {
  order: 1;
}

.testContainer:nth-child(1) {
  order: 2;
}

.testContainerTitle {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 12px 0;
}

.testResultBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testTakers {
  font-size: 40px;
  font-weight: 700;
}

.testTakersDesc {
  color: rgb(53, 53, 53);
}

.bestPerfume {
  opacity: 0.7;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.bestPerfume:hover {
  transform: scale(1.1);
}

.bestPerfumeSubDesc {
  margin-top: 8px;
}

@media (max-width: 850px) {
  .testContainer {
    width: 80%;
  }
  .bestPerfumeSubDesc {
    font-size: 0.8em;
  }
}
