.recommenders {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 145px;
  bottom: 30px;
  background-color: grey;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

@media (max-width: 768px) {
  .recommenders {
    right: 80px;
    bottom: 25px;
  }
}

@media (max-width: 550px) {
  .recommenders {
    width: 18px;
    height: 18px;
    font-size: 0.8em;
    right: 110px;
  }
}
