.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

.loginSection {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginSection button {
  border: none;
  background-color: gray;
  padding: 12px;
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.loginSection button:hover {
  color: var(--color-white);
  background-color: tomato;
}

.bell {
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.bell:hover {
  color: tomato;
}

.recommenders {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: grey;
  font-weight: 600;
  right: 85px;
  top: -10px;
}

.loginProfileImage {
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 40px;
  }
  .logo {
    width: 50px;
  }
}
