.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  z-index: 10000;
}

.logo {
  width: 130px;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 40px;
  }
}
