.container {
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  z-index: 10000;
  background-color: grey;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #9b7c39;
  color: var(--color-white);
}

.userInfo {
  padding-top: 150px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.userImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testContainer {
  padding-bottom: 12px;
  margin-top: 20px;
  text-align: center;
  width: 30%;
  height: 200px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}

.testContainerTitle {
  border-bottom: 1px solid black;
  padding: 12px 0;
}

.testResultBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testTakers {
  font-size: 40px;
  font-weight: 700;
}

.testTakersDesc {
  color: rgb(53, 53, 53);
}

.button {
  width: 20%;
  padding: 12px 20px;
  margin-top: 20px;
}

.input {
  font-size: 22px;
  border: none;
  background-color: inherit;
  text-align: center;
  width: 350px;
  outline: none;
  padding: 12px 20px;
}

.linkBtn {
  font-size: 20px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 24px;
  border: 2px solid black;
  cursor: pointer;
  background-color: grey;
  transition: all 0.2s ease-in;
}

.linkBtn:hover {
  background-color: #9b7c39;
  color: var(--color-white);
}

.loginBtn {
  text-align: center;
  border: none;
  background-color: gray;
  padding: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in;
}

.loginBtn:hover {
  color: var(--color-white);
  background-color: darkgreen;
}
@media (max-width: 850px) {
  .container {
    padding: 0 24px 30px;
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
  }
  .userInfo {
    width: 100%;
  }
  .testContainer {
    width: 80%;
  }
  .button {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .button {
    font-size: 15px;
    width: 50%;
  }
}
