.body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.moveToDownBtn {
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.moveToDownBtn:hover {
  color: #c09d52;
}

.container {
  text-align: center;
  position: relative;
}

.card {
  height: 50vh;
  width: 100%;
}

.card h1 {
  margin: 24px 0;
}

.card h2 {
  font-size: 5vh;
}

.card p {
  font-size: 3vh;
}

.btnBox {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.startBtn {
  width: 300px;
  padding: 20px;
  font-size: 28px;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.startBtn:hover {
  background-color: rgba(230, 229, 212, 0.7);
  color: #9b7c39;
}

@media (max-width: 550px) {
  .container {
    padding: 0 25px;
  }
  .startBtn {
    width: 200px;
    font-size: 18px;
  }
  .card h1 {
    margin: 24px 0;
    font-size: 24px;
  }
  .moveToDownBtn {
    width: 40px;
    height: 40px;
  }
}
