.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subBody {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  background-color: #f5e6c5;
  position: relative;
  overflow: hidden;
}

.sectionOneText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}

.sectionOneImg {
  display: block;
  width: 500px;
  height: 500px;
}

.goToStoryBtn {
  position: absolute;
  bottom: 62px;
  font-size: 20px;
  padding: 12px 24px;
  background-color: #bcb8b2;
  border: none;
  cursor: pointer;
}

.sectionTwoTitle,
.sectionFourTitle {
  font-size: 1.5em;
  color: #484848;
  margin-bottom: 12px;
}

.sectionTwo,
.sectionFour {
  padding: 0 32px;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9f886f;
  overflow: hidden;
}

.sectionTwoImg {
  width: 500px;
}

.sectionThree {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #d78b30;
}

.sectionThreeImg {
  width: 700px;
}

.sectionThreeTitle {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.sectionThreeDesc {
  font-size: 1em;
}

.sectionFour {
  text-align: center;
  justify-content: center;
  background-color: #f5e6c5;
}

.sectionTwoText,
.sectionThreeText,
.sectionFourText {
  max-width: 600px;
}

.sectionThreeText {
  padding-left: 32px;
  text-align: right;
}

.sectionTwoDesc,
.sectionFourDesc {
  font-size: 1em;
  font-weight: 200;
  color: #484848;
}

.returnRootBtn {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background-color: grey;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.returnRootBtn:hover {
  background-color: #9b7c39;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
    visibility: visible;
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 850px) {
  .perfumeName {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .perfumeBrand {
    font-size: 25px;
    margin-bottom: 6px;
  }
  .perfumeFeature {
    font-size: 18px;
  }
  .sectionOneImg {
    width: 350px;
    height: 350px;
  }
  .sectionTwoText {
    position: absolute;
    text-align: center;
    z-index: 1000;
  }
  .sectionTwoImg {
    opacity: 0.6;
  }
  .buttonContainer button {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .perfumeName {
    font-size: 30px;
  }
  .perfumeBrand {
    font-size: 20px;
  }
  .perfumeFeature {
    font-size: 12px;
  }
  .sectionOneImg {
    width: 300px;
    height: 300px;
  }
  .sectionTwoText {
    padding: 0 12px;
    position: absolute;
    text-align: center;
    z-index: 1000;
  }
  .sectionTwo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sectionTwoTitle,
  .sectionFourTitle,
  .sectionThreeTitle {
    font-size: 1.4em;
  }

  .sectionTwoDesc,
  .sectionThreeDesc,
  .sectionFourDesc {
    font-size: 0.8em;
  }

  .sectionTwoImg {
    width: 300px;
  }

  .sectionThreeText {
    padding: 0 12px;
  }

  .buttonContainer button {
    font-size: 12px;
  }
}
