.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sectionOne {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  position: relative;
}

.sectionOneText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionOneImg {
  display: block;
  width: 500px;
  height: 500px;
}

.sectionTwoTitle,
.sectionFourTitle {
  color: var(--color-white);
}

.sectionTwo,
.sectionThree,
.sectionFour {
  padding: 0 32px;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionTwoText,
.sectionThreeText,
.sectionFourText {
  max-width: 600px;
}

.sectionTwo,
.sectionFour {
  background-color: var(--color-black);
}

.sectionTwoDesc,
.sectionFourDesc {
  color: var(--color-white);
}

.sectonTwoImg,
.sectionThreeImg,
.sectionFourImg {
  height: 400px;
}

.sectionThree {
  background-color: var(--color-white);
}
