.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #d3cce3; */
  /* background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); */
  /* background: linear-gradient(to right, #e9e4f0, #d3cce3); */
}

.container .title {
  margin-bottom: 20px;
  color: var(--color-white);
}

.container .cardSection {
  display: flex;
}

.container .cardSection .card {
  position: relative;
  width: 300px;
  height: 420px;
  background: var(--color-white);
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, transparent, #0004);
}

.container .cardSection .card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.container .cardSection .card .circle h3 {
  color: var(--color-white);
  font-size: 1.8em;
  padding: 30px 0;
}

.cardSection:hover .card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.cardSection .card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding-top: 120px;
    width: 100%;
    height: 100%;
  }
  .container .cardSection {
    display: flex;
    flex-direction: column;
  }
  .container .cardSection .card {
    width: 250px;
    height: 300px;
  }
}
