:root {
  --color-bg-dark: #111;
  --color-white: white;
  --color-black: rgb(0, 0, 0);
  --color-radioBorder: skyblue;
  --color-bg: #ebf5fc;
  --color-btn: #03a9f4;
  --color-red1: hsl(345, 100%, 48%);
  --color-red2: hsl(345, 100%, 38%);
  --color-white1: hsl(0, 0%, 100%);
  --color-white2: hsl(0, 0%, 90%);
  --color-blue: hsl(215, 100%, 20%);
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MapoFlowerIsland";
}

body {
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: center / cover no-repeat url("/public/assets/images/bg.png");
}

/* ⬇️ 웹 폰트 (눈누) */
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
