.body {
  padding: 32px 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.body p {
  font-size: 32px;
  color: white;
}

@media (max-width: 550px) {
  .body {
    padding: 50px;
    width: 100%;
    height: 100vh;
  }
  .body p {
    font-size: 18px;
  }
}
